.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav .container-fluid > ul.nav.nav-pills > li {
  float: none;
  display: inline-block;
  width:16%;
}

.nav-pills {
  text-align: center;
}
